{{#* inline "head"}}
  <style>
    main {
      display: flex;
      flex-direction: column;
      place-content: center;
      gap: 1.5em;
      padding: 0 5vw;

      section {
        max-width: 1024px;
        width: 90vw;
        margin: 1em auto;
      }

      #tinder-card {
        margin: 1em 0;
      }

      #button-row {
        display: flex;
        align-content: center;
        justify-content: start;
      }

      .select-btn {
        margin: 0 25px;
      }
    }

    /* Promote Dialog */
    dialog {
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .3rem;
      outline: 0;

      form {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;

        .modal-footer {
          gap: 1rem;
        }

        #category-input {
          width: 64em;
          max-width: 100%;
        }
      }
    }
  </style>
{{/inline}}

{{#*inline "content" }}
  <main>
    <section class="content">
      {{#if has_articles}}
        <div
          class="progress"
          role="progressbar"
          aria-label="Tinder Progress"
          aria-valuenow="1"
          aria-valuemin="0"
          aria-valuemax="{{max_articles}}"
        >
          <div
            class="progress-bar overflow-visible text-dark bg-info"
            style="width: {{initial_percentage}}%;"
          >
            1/{{max_articles}}
          </div>
        </div>

        <div id="tinder-container">
          {{> components/tinder_card }}

          {{> components/promote_dialog }}
        </div>

      {{else}}
        <div class="alert alert-success">
          <h3 class="alert-heading">
            Keine Artikel zum Tindern in der Datenbank!
          </h3>
          <hr />
          <div>
            <a class="btn btn-outline-primary" id="home-button" href="/">
              Zurück zur Startseite
              <i class="bi bi-house-fill"></i>
            </a>
            <a class="btn btn-outline-primary" id="home-button" href="/dates">
              Zur Datumsauswahl
              <i class="bi bi-calendar3"></i>
            </a>
          </div>
        </div>
      {{/if}}
    </section>
  </main>

  <script>
    let progressBarCounter = 0;
    let progressContainer = document.querySelector('div.progress');
    let progressBar = document.querySelector('div.progress-bar');
    function updateProgressBar() {
      progressBarCounter++;
      progressContainer.setAttribute('aria-valuenow', progressBarCounter);
      progressBar.innerText = `${progressBarCounter}/{{max_articles}}`;
      let width = Math.round(progressBarCounter/{{max_articles}} * 100);
      progressBar.style['width'] = width + "%";
    }

    function openPromoteDialog() {
      document.getElementById("promote-dialog").showModal();
    }
    function closePromoteDialog() {
      document.getElementById("promote-dialog").close();
    }
  </script>
{{/inline}}
{{> base htmx=true}}
